.search-container {
    /* display: ; */
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; */
}
.search-input {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    /* border: 1px solid #ccc; */
    border-radius: 15px;
    outline: none;
}
.search-button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}